<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phone index</title>
    
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

    <!-- include css file -->
    <link rel="stylesheet" href="main.css">

    <!-- tab icon -->
    <link rel="shortcut icon" href="http://getdrawings.com/free-icon/phone-icon-png-transparent-70.png" type="image/x-icon">

    <!-- bootstrap stylesheet  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- JQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


</head>
<body>
    <!-- including navbar file -->
    <%include navbar.ejs%>
    
