<%include partials/header.ejs%>
<style>
    .reg {
        font-family: Righteous;
        /* to overwrite high priority style */
        color: white !important;
    }
</style>
                <!-- this class is created for this div -->
<div class="main_div">
    <!-- post request sends the number from the front end to a room in the backend-->
    <form action="/add" method="POST">

        <img style="display: block;margin:auto;width:200px;"
            src="http://getdrawings.com/free-icon/phone-icon-png-transparent-70.png">
           

        <!-- <% //embedded javascript code  %> -->
            <%if(isadded==1){}else if(isadded==2){%>
                
                <div class="alert alert-success">Phone added</div>
            <%}else if(isadded==3){%>
                <div class="alert alert-danger">something went wrong !!</div>
            <%}%>
        <!-- placeholder == the watermark in the textbox -->
            <input name="name" class="form-control" placeholder="Name" type="text">
        <input name="phone" class="form-control" placeholder="Phone number" type="text">

        <!-- submit the form -->
        <!-- reg is the class name 
            btn btn block btn warning are  classes change the style from bootstrap options
         -->
        <Button class=" reg btn btn-block btn-warning" type="submit">Add</Button>
    </form>
</div>
<%include partials/footer.ejs%>
    